.root {
  width: 100%;
  background-color: blue;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.linkHolder {
  max-width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link {
  font-size: 14px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
}

.linkBorder {
  border-right: solid 1px #fff;
}
