<div class="productsContainer"> 
    <div class="wrapper">
       <div class="productImgHolder">
            <img class="productImg" src="{{product.url}}" alt="product-img" />
       </div>
       <div class="details">
           <h3 class="title">{{product.name}}</h3>
           <p class="subTitle">{{product.price}}</p>
           <p class="desc">{{product.description}}</p>
           <select class="selectInput" id="product-desc" name="product-desc">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button class="addBtn">Add to card</button>
       </div>
    </div>
</div>
