<div class="emptyCart" *ngIf='productsService.cartList.length === 0'>
	<h2 class="emptyCartTitle">Cart is Empty</h2>
</div>

<div *ngIf='productsService.cartList.length !== 0' class="root"> 
	<div class="wrapper">
    <div class="productsIncart">
      <div *ngFor="let product of productsService.cartList" class="cartItem">
        <div class="imgHolder">
          <img class="img" src="{{product.url}}" alt='img' />
        </div>
        <div class="description">
          <h3 class="title">{{product.name}}</h3>
          <p class="subTitle">{{product.price}} $</p>
          <div class="amountHolder">
            <p class="descText">Amount</p>
            <input min="1" class="selectInput" type="number" [(ngModel)] ="product.amount" />
          </div>
          <button class="removeBtn" (click)="productsService.removeFromCart(product.id)">Remove</button>
        </div>
      </div>
    </div>

    <div class="formInfo">
      <app-checkout-form [amountTotal] = "getTotal()"></app-checkout-form>
    </div>
	</div>
	<h3 class="totalText">Order Total: ${{getTotal()}}</h3>
</div>  