<div class="productsContainer">
    <div class="productsWrapper">
        <div *ngFor="let product of productsService.productsList" class="list">
            <a class="linkImg" [routerLink]="['/products',product.id]">
                <div class="listImgHolder">
                    <img class="listImg" src="{{product.url}}" alt="product-icon" />
                </div>
            </a>
            <div class="listFooter">
                <h3 class="title">{{product.name}}</h3>
                <h3 class="subTitle">{{product.price}} $</h3>
               <div class="footerFoot">
                <select class="selectInput" id="product" name="product">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                  <button class="addBtn">Add to card</button>
               </div>
            </div>
        </div>
    </div>
</div>
