<form>
    <label class="label" for="fullname">Full Name</label>
    <input class="input" type="text" id="fullname" name="fullname" placeholder="Full Name" />

    <label  class="label"  for="address">Address</label>
    <input class="input" type="text" id="address" name="address" placeholder="Address">

    <label  class="label"  for="creditcard">Credit Card</label>
    <input class="input" type="number" id="creditcard" name="creditcard" placeholder="(16 digin number)">

    <button class="submitBtn">Submit</button>
</form>
