<form #form="ngForm">
	<label class="label" for="fullname">Full Name*</label>
	<input 
    required
    minlength="4"
    class="input" 
    type="text" 
    id="fullname" 
    name="fullname" 
    placeholder="Full Name" 
    [(ngModel)] = "cartService.cartData.fullName" 
  />

	<label  class="label"  for="address">Address*</label>
	<input 
    required
    minlength="4"
    maxlength="50"
    class="input" 
    type="text" 
    id="address" 
    name="address" 
    placeholder="Address" 
    [(ngModel)] = "cartService.cartData.address"
  />

	<label  class="label"  for="creditcard">Credit Card</label>
	<input 
    required
    minlength="16"
    maxlength="16"
    class="input" 
    type="text" 
    id="creditcard" 
    name="creditcard" 
    placeholder="(16 digin number)" 
    [(ngModel)] = "cartService.cartData.creditCard"
  />

  <button 
    [ngClass]="{'submitBtn': form.valid, 'disabledBtn': form.invalid}"
    type="button" 
    (click)='handleSubmit()'
    [disabled]="form.invalid"
  >
  Submit
</button>
</form>
